.navbar{
  background-color: #ff4c68;
  height: 80px;
}
.navbar-brand{
  font-size: 30px !important;
}
body{
  background-color: #ff4c68 !important;
}
.form{
  width: 40%;
  position: absolute;
  top:400px;
  left:550px;
}
.btn{
  position: absolute;
  left: 400px;
}
